<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="bagbox.Properties.Settings.BoxbagManageSystemConnectionString"
   connectionString="Data Source=.;Initial Catalog=BoxbagManageSystem;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="token" value="bgjliwckqwowghii" />
		<add key="mailFrom" value="1477675033@qq.com" />
	</appSettings>
</configuration>